@import 'colors';

@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin animation($property) {
  -webkit-animation: $property;
      -ms-animation: $property;
          animation: $property;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

@include keyframes(spin) {
  0%   { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

@include keyframes(jump) {
  0% { 
    @include transform(translateY(0px) scale(1));
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    @include transform(translateY(-16px) scale(1.5)); 
  }
  100% { 
    @include transform(translateY(0px) scale(1)); 
  }
}

@include keyframes(pulse) {
  0%   { @include transform(scale(1, 1)); }
  50%  { @include transform(scale(0.9, 0.9)); }
  100% { @include transform(scale(1, 1)); }
}

@include keyframes(flicker) {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

.jumpUp {
  @include animation(jump 0.8s ease);
}

.fade {
  @include transition(opacity 200ms linear);  
  &.fade-entering {
    opacity: 0.01;
  }
  &.fade-entered {
    opacity: 1;
  }
  &.fade-exiting {
    opacity: 0.01;
  }
  &.fade-exited {
    opacity: 0;
  }
}

.spinner-wrap {
  text-align: center;
  &.relativefull {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    @extend %flex-center;
  }
  &.full {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    @extend %flex-center;
  }
  &.large {
    @extend %flex-center;
    padding: 128px;
  }
  &.relative {
    @extend %flex-center;
    padding: 10px 0;
  }
}
.spinner {
  @include animation(spin 1s linear infinite);
  opacity: 1;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  &.purple {
    border: 3px solid $white;
    border-top: 3px solid $lightpurple;
  }
  &.white {
    border: 3px solid $white;
    border-top: 3px solid $lightgrey;
  }
  &.grey {
    border: 3px solid $lightgrey;
    border-top: 3px solid $lightpurple;
  }
}
.girl-spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: $lightpurple;
  @extend %flex-center;
  flex-direction: column;
  * {
    margin: 8px 0;
    color: $white;
  }
  .girl-spinner {
    @include animation(pulse 1s infinite);
    margin: 0 auto;
    max-width: 100px;
    width: 100px;
  }
}