$black: #231f20;
$blackhalf: rgba(0,0,0,0.5);

$fbblue: #3b5998;
$twblue: #55acee;
$gored: #d34836;

$white: #ffffff;

$offwhite: #f7f7f7;
$faintgrey: #e9e9e9;
$faintgreytwo: #dadada;
$lightgrey: #9b9b9b;
$darkgrey: #636363;
$dullgrey: #3f3d42;

$lightpurple: #805e9e;
$darkpurple: #503464;

$lightgreen: #21ac50;
$lightred: #b91c1c;

$gold: #e2cc07;