@import 'colors';
@import 'fonts';

@mixin user-select($property) {
  -khtml-user-select: $property;
      -o-user-select: $property;
    -moz-user-select: $property;
 -webkit-user-select: $property;
         user-select: $property;
}
@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
     -moz-box-shadow: $property;
       -o-box-shadow: $property;
          box-shadow: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
     -moz-transition: $property;
       -o-transition: $property;
          transition: $property;
}

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}

@mixin transform-origin($property) {
  -webkit-transform-origin: $property;
      -ms-transform-origin: $property;
          transform-origin: $property;
}

@mixin appearance($property) {
  -webkit-appearance: $property;
     -moz-appearance: $property;
          appearance: $property;
}

@mixin gradient($d, $c1, $c2, $e) {
  background:    -moz-linear-gradient($d, $c1, $c2);
  background: -webkit-linear-gradient($d, $c1, $c2);
  background:         linear-gradient($e, $c1, $c2);
}

@mixin box-shadow($property) {
  -webkit-box-shadow: $property;
     -moz-box-shadow: $property;
          box-shadow: $property;
}

%flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
%flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: $montserrat;  
  &:before, &:after {
    box-sizing: border-box
  }
  &:focus {
    outline: none
  }
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: $black;
  font-size: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  display: block;
  padding: 0;
  margin: 0;
  background: white;
  overflow: hidden;
  min-height: 100vh;
}

// .main-wrapper {
//   display: grid;
//   grid-template-areas: "header" "main";
//   min-height: 100vh;
// }

a {
  text-decoration: none;
  opacity: 1;
  @include transition(all ease 0.3s);
  color: inherit;
  background-color: inherit;
  outline: 0;
  @include user-select(none);
  cursor: pointer;  
  &:hover {
    outline: 0;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    img {
      opacity: 1;
      @include transform(scale(1.1));
    }
    *:not(.video-thumbnail):not(.avatar) {
      opacity: 0.9;
      @include transition(all ease 0.3s);
    }
  }
  &:visited, &:active, &:focus {
    color: inherit;
    outline: 0;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  @include user-select(none);
  @include transition(all ease 0.3s);
}

.centered {
  margin: 24px auto;
  text-align: center;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 16px;
}
.button {
  display: inline-block;
  border-radius: 2px;
  overflow: hidden;
  a {
    padding: 10px 16px;
    display: block;
    text-align: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.95rem;
    &.disabled {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  &.round {
    border-radius: 50%;
    @extend %flex-center;
    a {
      border-radius: 50%;
      @extend %flex-center;
      width: 24px;
      height: 24px;
      padding: 0;
      box-shadow: none;
      text-transform: none;
      font-weight: normal;
      font-size: inherit;
    }
  }
  &.small {
    > a {
      padding: 6px 12px;
      font-size: 0.8rem;
    }
  }
  &.bglightpurple a {
    background-color: $lightpurple !important;
  }
  &.bgdarkpurple a {
    background-color: $darkpurple !important;
  }
  &.bggrey a {
    background-color: $lightgrey !important;
  }
  &.bgwhite a {
    background-color: $white !important;
    border: 1px solid $lightgrey;
  }
  &.bggored a {
    background-color: $gored !important;
  }
  &.bgfbblue a {
    background-color: $fbblue !important;
  }
  &.bgtwblue a {
    background-color: $twblue !important;
  }
  &.white a {
    color: $white;
  }
  &.black {
    color: $black;
  }
  &.grey {
    color: $darkgrey;
    border: 1px solid $darkgrey;
  }
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  font-size: 0.8rem;
}
p {
  color: $darkgrey;
  font-size: 0.75rem;
  a {
    color: $lightpurple;
    text-decoration: underline;
  }
}

section {
  position: relative;
  width: 100%;
  margin: 0 auto;
  &.modal-type {
    min-height: 100vh;
    background-color: $faintgrey;
    background-repeat: repeat;
    background-position: center;
    background-size: 30%;
    padding: 64px 0;
    .box {
      margin: 16px auto 0;
      &:first-child {
        margin: 0 auto;
      }
    }
  }
}

main {
  position: relative;
  background-repeat: repeat;
  background-position: center;
  min-height: 100%;
  &.nopadding {
    padding: 0;
  }
}

.container {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.bubble {
  position: absolute;
  padding: 16px;
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  z-index: 21;
  min-width: 200px;
  display: block;
  &.bottom {
    top: 100%;
  }
  &.right {
    right: 0;
  }
  &.left {
    left: 0;
  }
  &.top {
    bottom: 100%;
    margin-bottom: 16px;
  }
  &.vcenter {
    left: -150%;
  }
  &.hcenter {
    top: -200%
  }
  &.large {
    width: 320px;
    max-height: 320px;
    overflow: auto;
  }
  .option {
    a {
      color: $darkgrey;
    }
  }
  .confirmation {
    .confirm-body {
      padding: 16px;
      text-align:center;
    }
    .confirm-buttons {
      padding: 16px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 8px;
    }
  }
}

.modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
  .overlay {
    @extend %flex-center;
    .modal {
      background: $white;
      border-radius: 5px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
      position: relative;
      z-index: 21;
      width: 400px;
      max-height: 95vh;
      overflow-y: auto;
      .modal-content {
        padding: 0 32px 32px;
        .title {
          margin-bottom: 24px;
          @extend %flex-start;
          text-transform: uppercase;
        }
        hr {
          height: 1px;
          width: 100%;
          background: $faintgrey;
          margin: 16px 0;
        }
      }
    }
  }
}

.close-wrapper{
  position: relative;
  width: 100%;
  top: 0;
  text-align: right; 
  .close {
    display: inline-block;
    color: $lightgrey;
    padding: 16px;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: $blackhalf;
}

.box {
  background: $white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  position: relative;
  &.small {
    width: 400px;    
  }
  &.mid {
    width: 600px;
  }
  &.large {
    width: 1170px;
  }
  .box-content {
    padding: 32px 32px;
    .hero {
      margin-top: 32px;
    }
  }
}
input[type=text], input[type=email], input[type=password], input[type=tel], input[type=number], textarea, select {
  background: $faintgrey;
  padding: 8px;
  border-radius: 5px;
  &.no-resize {
    resize: none;
  }
}

label {
  color: $darkgrey;
  margin-bottom: 8px;
  font-size: 1rem;
  font-weight: 600;
  z-index: 1;
  a {
    color: $darkpurple;
    text-decoration: underline;
  }
}
.line {
  position: relative;
  .price {
    input:focus ~.currency, input:valid ~.currency{
      opacity: 1;
    }
    input ~.currency {
      opacity: 0;
    }
  }
  input, textarea, select {
    background: transparent;
    border-radius: 0;
    border-bottom: 1px solid $lightgrey;
    @include transition(all ease-out 0.3s);
  }
  textarea {
    overflow:hidden;
    height: auto;
  }
  input:focus, input:valid, textarea:focus, textarea:valid, select:valid {
    border-bottom: 1px solid $lightpurple
  }
  input:disabled, input:disabled ~label{
    color: $lightgrey
  }
  input:focus ~label, input:valid ~label, textarea:focus ~label, textarea:valid ~label, select:valid ~label {
    top: -16px;
    left: 0;
    font-size: 0.75rem;
  }
  input ~label, textarea ~label, select ~label {
    font-size: 1rem;
    font-weight: 600;
    @include transition(all ease-out 0.2s);
    position: absolute;
	  pointer-events: none;
    top: 8px;
    left: 8px;
  }
  .length-counter {
    float: right;
    font-size: 0.6rem;
    color: $lightgrey;
    margin-bottom: 4px;
  }
}

form {
  p {
    text-align: center;
    font-size: 0.9rem;
    margin: 8px 0;
    a {
      margin-left: 8px;
    }
  }
  .button{
    display: block;
  }
  .input-group {
    display: grid;
    grid-template-columns: 100%;
    margin-bottom: 16px;
    .tip {
      margin-bottom: 0px;
    }
    &.line {
      margin-bottom: 8px;
      margin-top: 32px;
    }
    &.radio {
      margin: 0;
      width: 50%;
      float: left;
      .field {
        display: grid;
        grid-template-columns: 18px auto;
        input {
          outline: 0;
          margin-right: 8px;
          visibility: hidden;
          &:checked {
            + label:before {
              background-color: $lightpurple;
              border: none;
            }
            + label:after {
              top: 4.4px;
              left: 4px;
              width: 10px;
              height: 6px;
              border: 2px solid $white;
              border-top-style: none;
              border-right-style: none;
              @include transform(rotate(-45deg));
            } 
          }
          &:disabled {
            + label:before{
              border-color: $lightgrey;
            }
            &:checked {
              + label:before{
                background-color: $lightgrey;
              }
            }
          }
        }
        label {
          cursor: pointer;
          font-weight: 400;
          font-size: 0.75rem;
          margin-bottom: 0;
          padding-left: 8px;
          &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background: $white;
            border: 2px solid $darkgrey;
            border-radius: 2px;
            cursor: pointer;
            @include transition(all 0.3s);
          }
        }
      }
    }
    &.checkbox {
      display: block;
      margin: 32px 0;
      .field {
        display: grid;
        grid-template-columns: 18px auto;
        input {
          outline: 0;
          margin-right: 8px;
          visibility: hidden;
          &:checked {
            + label:before {
                background-color: $lightpurple;
                border: none;
            }
            + label:after {
                top: 4.4px;
                left: 4px;
                width: 10px;
                height: 6px;
                border: 2px solid $white;
                border-top-style: none;
                border-right-style: none;
                @include transform(rotate(-45deg));
            } 
          }
          &:disabled {
            + label:before{
                border-color: $lightgrey;
              }
            &:checked {
              + label:before{
                background-color: $lightgrey;
              }
            }
          }
        }
        label {
          cursor: pointer;
          font-weight: 400;
          margin-bottom: 0;
          padding-left: 16px;
          &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
          }
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            height: 18px;
            background: $white;
            border: 2px solid $darkgrey;
            border-radius: 2px;
            cursor: pointer;
            @include transition(all 0.3s);
          }
        }
      }
    }
    &.has-forgot{
      grid-template-columns: auto auto;
      .forgot {
        color: $lightpurple;
        font-size: 0.8rem;
        margin-bottom: 8px;
        text-decoration: underline;
        place-self: center end;
      }
      .field{
        grid-column: span 2;
      }
    }
    .field{
      position: relative;
      display: block;
      .show-password {
        position: absolute;
        right: 8px;
        color: $black;
        top: 4px;
      }
      .length-counter {
        color: $lightgrey;
        font-size: 0.7rem;
        float: right;
      }
      &.price {
        .currency {
          @include transition(all ease-out 0.2s);
          pointer-events: none;
          position: absolute;
          top: 0;
          margin: 6px 4px;
        }
        input {
          padding: 8px 8px 8px 16px;
        }
      }
    }
    label, input, textarea, select{
      width: 100%;
      display: block;
    }
    select {
      @include appearance(none);
      &::-ms-expand {
        display: none;
      }
      option {
        color: $darkgrey;
        &:checked {
          background-color: $lightgrey;
          color: $white;
        }
      }
    }
    .dropdown-icon {
      pointer-events: none;
      color: $lightgrey;
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 12px;
    }
  }
}

.Toastify {
  font-size: 0.9rem;
  text-align: center;
}

.upload {
  &.multiple {
    .dropzone {
      border-radius: 5px;
      width: 100%;
      height: auto;
    }
    p {
      margin: 16px auto;
    }
  }
  p {
    font-size: 0.8rem;
    span {
      font-size: 0.75rem;
      color: $darkgrey;
    }
  }
  &.type-avatar {
    .dropzone {
      border-radius: 50%;
      width: 160px;
      height: 160px;
    }
  }
  .dropzone {
    margin: 16px auto 32px;
    border: 3px dashed $lightgrey;
    text-align: center;
    width: 100%;
    height: 200px;
    color: $darkgrey;
    cursor: pointer;
    position: relative;
    @extend %flex-center;
    align-items: center;
    background: $offwhite;
    overflow: hidden;
    @include transition(all 0.2s linear);
    img {
      border: none !important;
    }
    &.dropaccept {
      background-color: $lightgreen;
      background-image: none !important;
    }
    &.dropreject {
      background-color: $lightred;
      background-image: none !important;
    }
  }
  .image-feedback {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: transparent;
    @extend %flex-center;
    align-items: center;
  }
  .image-thumbnail {
    position: relative;
    @extend %flex-center;
    background-size: cover;    
    img {
      object-fit: cover;
      width: 154px;
      height: 154px;
    }
    .destroy {
      width: 100%;
      height: 100%;
      position: absolute;
      @extend %flex-center;
      top: 0;
      left: 0;
      color: $gored;
      i {
        opacity: 0;
        text-align: center;
        font-size: 5rem;
        color: $white;
        margin: 0 auto;
      }
    }
    &:hover .destroy {
      cursor: pointer;
      background: $blackhalf;
      i {
        opacity: 1
      }
    }
  }
}

.error {
  width: 100%;
  background: $gored;
  color: $white;
  padding: 8px;
  font-size: 0.8rem;
  text-align: center;
  margin: 8px 0;
  .redirect {
    font-size: 0.75rem;
  }
}

.tip {
  color: $lightgrey;
  font-size: 0.75rem;
  margin-bottom: 32px;
  a {
    color: $lightpurple;
    text-decoration: underline;
  }
}

.separator {
  text-align: center;
  color: $darkgrey;
  padding: 16px 0;
  font-size: 1.1rem;
  span {
    color: $lightpurple;
    font-weight: 900;
  }
}

.load-more {
  text-align: center;
  font-size: 0.8rem;
  margin: 24px auto;
  .load-more-button {
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid $lightgrey;
    background: $faintgrey;
    display: inline-block;
  }
}

.hr {
  height: 1px;
  width: 100%;
  background: $faintgrey;
  margin: 32px 0;
}

svg ~ span, .button span ~ span {
  margin-left: 8px;
}

.dot, .divider {
  margin: 0 4px;
}

.empty {
  flex-grow: 2;
  position: relative;
}

.group:after {
  position: relative;
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
@media (max-width: 1200px) {
  .container {
    width: 970px;
  }
  .box {
    &.large {
      width: 970px;
    }
  }
}
@media (max-width: 991px) {
  .container {
    width: 740px;
  }
  .box {
    &.large {
      width: 740px;
    }
  }
}
@media (max-width: 767px) {
  .container {
    &.main-menu, &.search-container {
      width: 100%;
    }
    width: 580px;
  }
  .box {
    &.large {
      width: 580px;
    }
  }
}
@media (max-width: 600px) {
  .container {
    width: 460px;
  }
  .box {
    &.mid, &.large {
      width: 460px;    
    }
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}
@media (max-width: 480px) {
  main {
    padding: 32px 16px;
  }

  .container {
    width: 320px;
  }

  .box {
    width: 320px;
    &.small, &.mid, &.large {
      width: 320px;    
    }
  }

  .modal-wrapper {
    .overlay {
      .modal {
        width: 300px;
      }
    }
  }

}
@media (max-width: 320px) {
  .container {
    width: 300px;
  }
  .box {
    width: 300px;
    &.small, &.mid, &.large {
      width: 300px;    
    }
  }
}