@import 'colors';
@import 'nprogress';
@import 'global';
@import 'animations';

header {
  grid-area: header;
  background: $white;
  color: $black;
  border-bottom: 1px solid $lightgrey;
  font-size: 0.8rem;
  .main-menu {
    margin: 12px 0;
  }
  .header-grid {
    display: grid;
    grid-template-columns: 160px auto auto;
    align-items: center;
    padding: 0 16px;
    .logo {
      width: 120px;
    }
    .search {
      @extend %flex-start;
      ul {
        @extend %flex-start;
        list-style: none;
        li {
          font-size: 0.9rem;
        }
      }
    }
    .user>div, .user {
      @extend %flex-end;
      margin-right: 24px;
      text-transform: uppercase;
      &:last-child {
        margin-right: 0;
      }
      a {
        white-space: nowrap;
      }
      .app a {
        background: $lightpurple;
        color: $white;
        padding: 5px 8px;
        border-radius: 5px;
      }
      .golive {
        color: $lightpurple;
        font-weight: 600;
      }
      .notification-wrapper {
        position: relative;
        a {
          .unread {
            position: absolute;
            border-radius: 50%;
            width: 8px;
            height: 8px;
            background: $lightred;
            border: 1px solid $white;
            @include transform(translateX(-14px));
          }
        }
        .notifications {
          position: relative;
          .view_all {
            margin: 0 auto 16px;
            text-align: center;
          }
          .notification {
            color: $lightgrey;
            text-align: left;
            text-transform: none;
            padding: 16px 0;
            border-top: 1px solid $faintgrey;
            &:first-child {
              border-top: none;
            }
            &.none {
              text-align: center;
              .pchan {
                width: 100px;
                margin: 0 auto 16px;
              }
              .view_all {
                margin-top: 16px;
              }
            }
            a {
              white-space: normal;
              &:hover .details{
                opacity: 0.7;
              }
              .details {
                @extend %flex-start;
                align-items: flex-start;
                @include transition(all 0.2s ease);
                div ~ div {
                  margin-left: 8px;
                }
                .ago {
                  font-size: 0.6rem;
                  margin-top: 8px;
                }
                .highlight {
                  color: $lightpurple;
                }
              }
            }
          }
        }
      }
      .user-details {
        margin-right: 20px;
        text-transform: none;
        .profile-dropdown {
          position: relative;
          > a {
            @extend %flex-center;
          }
          .bubble-content {
            .tip {
              margin: 4px 0 8px;
            }
            .hr {
              margin: 0;
            }
            .option {
              color: $lightpurple;
              a {
                color: inherit;
                display: block;
                padding: 16px 0;
                display: grid;
                grid-template-columns: 16px auto;
                svg {
                  place-self: center;
                }
              }
            }
          }
        }
      }
    }
    .mobile-menu {
      position: fixed;
      width: 300px;
      height: 100vh;
      background: $white;
      right: 0;
      top: 0;
      z-index: 25;
      @include transition(all 0.2s ease);
      @include transform(translateX(300px));
      &.active {
        @include transform(translateX(0px));
      }
      .user {
        display: block;
        margin-bottom: 32px;
        &.app a{
          background: transparent;
          color: $lightpurple;
          padding: 0;
          border-radius: 0;
          font-weight: 600;
        }
        .notification-wrapper {
          position: relative;
          a {
            .unread {
              position: absolute;
              border-radius: 50%;
              width: 8px;
              height: 8px;
              background: $lightred;
              @include transform(translate(8px, -1px));
            }
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  background: $dullgrey;
  padding: 4px 32px;
  ul {
    display: flex;
    color: $white;
    list-style: none;
    margin: 12px 0;
    &.top {
      font-size: 0.9rem;
    }
    &.bottom {
      font-size: 0.7rem;
    }
    li {
      margin-right: 8px;
      a {
        text-transform: capitalize;
      }
    }
  }
}

.blocked-message {
  a {
    font-weight: bold;
    color: $lightpurple;
    text-decoration: underline;
    margin: 0 4px;
  }
  .tip {
    margin: 16px 0 0;
  }
}

.guidelines {
  .guidelines-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    .guideline {
      text-align: center;
      font-size: 0.8rem;
      img {
        margin: 0 auto 16px;
        display: block;
      }
    }
  }
}

.back-to-top {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: $white;
  @extend %flex-center;
  @include transition(all 0.2s ease);
  @include transform(scale(0));
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24), 0px 0px 2px rgba(0, 0, 0, 0.12);
  position: fixed;
  bottom: 50px;
  right: 30px;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  position: fixed;
  z-index: 19;
  &.active {
    opacity: 1;
    pointer-events: auto;
    @include transform(scale(1));
  }
  &:hover {
    @include transform(scale(1.2));
  }
}

#search-bar {
  background: $white;
  width: 100%;
  .search-container {
    width: 100%;
    .search-grid {
      display: grid;
      grid-template-columns: auto 110px;
      .search-input {
        .field {
          width: 100%
        }
        .search-icon {
          pointer-events: none;
          color: $lightgrey;
          position: absolute;
          top: 0;
          display: flex;
          align-items: center;
          height: 100%;
          margin: 0 12px;
          z-index: 3;
        }
        .clear {
          color: $lightpurple;
          cursor: pointer;
          position: absolute;
          right: 110px;
          top: 0;
          display: flex;
          align-items: center;
          height: 100%;
          margin: 0 12px;
          z-index: 3;
        }
        input {
          background: $offwhite;
          border-radius: 9999px 0 0 9999px;
          padding: 8px 16px 8px 32px;
          width: 100%;
          border-right: 1px solid $faintgreytwo;
          z-index: 2;
          position: relative;
          font-size: 0.7rem;
        }
        .recent-searches {
          position: absolute;
          width: 100%;
          top: 50%;
          padding: 32px 0 16px;
          background: $offwhite;
          border-radius: 0 0 20px 20px;
          z-index: 1;
          @include transition(all 0.3s ease);
          &.hide {
            opacity: 0;
            pointer-events: none;
          }
          .tip {
            margin-bottom: 8px;
          }
          .nothing {
            padding: 32px;
            color: $darkgrey;
            @extend %flex-center;
          }
          .entry {
            font-size: 0.7rem;
            color: $lightgrey;
            a {
              display: block;
              padding: 8px 16px;
              line-height: 200%;
              div {
                @extend %flex-start;
                span:first-child {
                  margin-right: 8px;
                  color: $lightpurple
                }
              }
              .title {
                font-size: 0.9rem;
                color: $black;
              }
            }
          }
        }
      }
      .type-dropdown {
        position: relative;
        z-index: 1;
        .dropdown-icon {
          pointer-events: none;
          color: $lightgrey;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          align-items: center;
          height: 100%;
          margin: 0 12px;
        }
        select {
          background: $offwhite;
          border-radius: 0 9999px 9999px 0;
          padding: 8px 32px 8px 16px;
          width: 100%;
          color: $lightgrey;
          font-size: 0.7rem;
          @include appearance(none);
          &::-ms-expand {
            display: none;
          }
          option {
            color: $darkgrey;
            &:checked {
              background-color: $lightgrey;
              color: $white;
            }
          }
        }
      }
    }
  }
}

#banners {
  .slot {
    .banner {
      @extend %flex-center;
      a {
        @extend %flex-center;
      }
    }
  }
}

.live {
  padding: 4px 8px;
  background: $black;
  color: $lightred;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
}

.converting {
  padding: 4px 8px;
  background: $lightgreen;
  color: $white;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 0.6rem;
  font-weight: 600;
}

.tier_avatar {
  position: absolute;
  font-size: 0.6rem;
  color: $white;
  z-index: 1;
  top: -3px;
  right: -2px;
  &.circle {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $white;
    @extend %flex-center;
    &.red {
      background: $lightred;
    }
    &.green {
      background: $lightgreen;
    }
    &.grey {
      background: $lightgrey;
    }
  }
}

.tier {
  padding: 4px 8px;
  background: $black;
  color: $white;
  border-radius: 5px;
  font-size: 0.6rem;
  margin: 0 8px;
  display: inline-block;
  .tier-wrap {
    @extend %flex-center;
    .circle {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin-right: 4px;
      &.green {
        background: $lightgreen;
      }
      &.red {
        background: $lightred;
      }
    }
  }
}

.notlive {
  padding: 4px 8px;
  background: $black;
  color: $white !important;
  border-radius: 5px;
  font-size: 0.6rem;
}

.avatar {
  position: relative;
  background: $lightpurple;
  border-radius: 50%;
  overflow: hidden;
  &.small {
    width: 16px;
    height: 16px;
  }
  &.medium {
    width: 32px;
    height: 32px;
  }
  &.large {
    width: 64px;
    height: 64px;
  }
  &.xlarge {
    width: 96px;
    height: 96px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
  }
}

.video-item {
  position: relative;
  height: 100%;
  border-radius: 5px;
  height: 300px;
  overflow: hidden;
  background: $white;
  @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.45));
  .self-options {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 16px;
    @extend %flex-center;
    justify-content: space-between;
    font-size: 0.8rem;
    a {
      border: 2px solid $white;
      width: 32px;
      height: 32px;
    }
  }
  a {
    display: block;
    pointer-events: auto;
  }
  .meta {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    pointer-events: none;
    .avatar {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 16px;
      @include transform(translateY(-50%)) ;
      img {
        border: 3px solid $offwhite;
      }
    }
    .description {
      padding: 8px 16px;
      background: $white;
      text-align: right;
      h5 {
        padding: 12px 0 8px;
        text-align: left;
        color: $black;
      }
      .ago {
        font-size: 0.7rem;
        font-weight: 400;
        text-align: left;
        color: $lightgrey;
      }
    }
  }
}
.video-thumbnail {
  position: relative;
  height: 170px;
  background: $lightpurple;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    &.centered {
      right: 0;
      bottom: 0;
      width: auto;
      height: auto;
      margin: auto;
      object-fit: none;
    }
  }
  &.overlayed:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    height: 20%;
    @include gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%, to bottom);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  }
  &.overlayed:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    height: 50%;
    @include gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%, to bottom);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  }
}

.peeqr-wrapper {
  @extend %flex-center;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  .peeqr-player-prepare {
    background-color: $dullgrey !important;
    @extend %flex-center;
    top: 0;
    .peeqr-video {
      z-index: 1;
      cursor: pointer;
    }
  }
  .video-react {
    position: absolute;
    top: 0;
    .video-react-control-bar {
      padding-top: 10px !important;
      height: 4em !important;
      font-family: Montserrat,sans-serif !important;
      @include gradient(top, transparent 0%, $black 100%, to bottom); 
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#d9000000",GradientType=0)!important;
    }
    .video-react-load-progress, .video-react-slider {
      background-color: $lightpurple;
    }
    video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

.girl-auth {
  margin: 0 auto;
  position: relative;
  padding: 0 0 20px 0;
  height: 280px;
  * {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    @include transition(all 0.2s ease);
  }
  .reflect {
    top: 30px;
    left: -120px;
  }
  .head {
    top: 150px;
  }
  .eyes {
    top: 182px;
    position: relative;
    .blush-left {
      left: -80px;
      top: 20px;
    }
    .blush-right {
      right: -80px;
      top: 20px;
    }
    .eye-left {
      left: -60px;
      top: 10px;
    }
    .eyebrow-left {
      left: -70px;
    }
    .eyebrow-right {
      right: -70px;
    }
    .eye-right {
      right: -60px;
      top: 10px;
    }
    .closed {
      opacity: 0;
    }
    .eye-left .closed, .eye-right .closed {
      @include transform(translateY(10px));
    }
    &.closed {
      .eye-left img, .eye-right img {
        @include transform(scale(0.88));
      }
    }
  }
  .mouth {
    top: 220px;
    position: relative;
    &.closed img {
      @include transform(scaleY(0.7));
    }
  }
}

main {
  grid-area: main;
  &.home {
    display: grid;
    grid-template-columns: 250px auto;
  }
  &.video {
    display: grid;
    grid-template-columns: 250px auto;
  }
  .left-side {
    padding: 16px;
    border-right: 1px solid $faintgreytwo;
  }
  .main-side {
    @extend %flex-start;
    flex-direction: column;
    align-items: unset;
  }
  .gradient-heading {
    height: 12px;
    width: 100%;
    @include gradient(top, $white 0%, $faintgrey 100%, to bottom);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$white, endColorstr=$faintgrey,GradientType=0 );
  }
  .main-body {
    background: $faintgrey;
    padding: 32px;
  }
}

.video-error {
  @extend %flex-center;
  flex-direction: column;
  color: $gored;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  div {
    margin-top: 32px;
  }
}

.video-body {
  background: $white;
  .user-meta {
    @extend %flex-start;
    align-items: normal;
    border-bottom: 1px solid $faintgreytwo;
    list-style: none;
    li {
      border-right: 1px solid $faintgreytwo;
      a {
        @extend %flex-center;
        padding: 8px 16px;
        font-size: 0.75rem;
        height: 100%;
        .username {
          margin-left: 8px;
        }
        .channel-info {
          @extend %flex-center;
          span {
            margin: 0 2px;
            &.purple {
              color: $lightpurple;
            }
          }
        }
      }
      &:last-child {
        border-right: 0px;
      }
    }
  }
  .video-wrapper {
    display: grid;
    padding: 16px;
    width: 100%;
    &.portrait {
      grid-template-columns: 35% 65%;
      .playback.pad {
        padding-bottom: 177.778%;
      }
      .video-meta {
        .viewer-list.active {
          border-bottom: 1px solid $faintgreytwo;
        }
      }
      .peeqr-video{
        width: 100%;
        height: auto;
        position: absolute;
        &.fullscreen {
          width: auto !important;
          height: 100vh !important;
        }
      }
    }
    &.landscape {
      grid-template-columns: 65% 35%;
      .playback.pad {
        padding-bottom: 56.3889%;
      }
      .video-meta {
        margin-top: 16px;
        .viewer-list.active {
          border-top: 1px solid $faintgreytwo;
        }
      }
      .peeqr-video{
        width: auto;
        height: 100%;
        position: absolute;
      }
    }
    .video-player {
      margin-right: 32px;
      position: relative;
      margin-bottom: 16px;
      .annotation-overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 998;
        pointer-events: none;
        .annotation {
          position: absolute;
          pointer-events: auto;
          padding: 4px 8px;
          color: $white;
          text-align: center;
          @include transform(scale(1));
          @include transition(all 0.2s ease);
          &.background {
            background: $blackhalf;
          }
          &.hide {
            @include transform(scale(0));
            pointer-events: none;
          }
          a, a:hover {
            background-color: transparent;
          }
          span ~ span {
            margin-left: 8px;
          }
        }
      }
      .video-overlay {
        width: 100%;
        height: 100%;
        padding: 32px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 999;
        pointer-events: none;
        flex-direction: column;
        @extend %flex-center;
        color: $white;
        text-align: center;
        &.active {
          &:after {
            background-color: $blackhalf;
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
          }
          .resumeButton {
            z-index: 1;
            &:before {
              font-family: 'video-react' !important;
              color: $white;
              font-size: 4rem;
              content: "\F200";
            }
          }
          .end {
            z-index: 1;
            pointer-events: none;
            .avatar {
              margin: 16px auto;
              pointer-events: auto;
              img {
                border: 3px solid $offwhite;
              }
            }
          }
        }
        h5, h6 {
          z-index: 1;
          font-size: 1.1rem;
          text-transform: none;
        }
        h4 {
          z-index: 1;
          font-size: 1.2rem;
          margin: 0;
          text-transform: none;
        }
      }
      .playback {
        width: 100%;
        position: relative;
        #livecontrols {
        z-index: 2;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding-top: 10px;
        height: 40px;
        @include gradient(top, transparent 0%, $black 100%, to bottom); 
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000",endColorstr="#d9000000",GradientType=0)!important;
        @extend %flex-center;
        font-family: 'video-react' !important;
        opacity: 0;
        @include transition(all 0.3s ease);
        &.active {
          opacity: 1
        }
        * {
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: $white;
          cursor: pointer;
          background: transparent;
          font-family: inherit;
        }
        #btnPlayPause {
          outline: none;
          position: relative;
          text-align: center;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 40px;
          &:hover:before {
            text-shadow: 0em 0em 1em $white;
          }
          &.pause:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F203";
          }
          &.play:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F200";
          } 
        }
        #btnMute {
          outline: none;
          position: relative;
          text-align: center;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 40px;
          &:hover:before {
            text-shadow: 0em 0em 1em $white;
          }
          &.unmute:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F211";
          }
          &.low:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F212";
          }
          &.mid:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F213";
          }
          &.mute:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F214";
          }
        }
        #volumeBar {
          outline: none;
          position: relative;
          text-align: center;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 50px;
          opacity: 0;
          transition-duration: 0.3s;
          -webkit-appearance: none;
          background: transparent;
          z-index: 1;
          &:hover:before {
            text-shadow: 0em 0em 1em $white;
          }
          &.active {
            opacity: 1;
          }
          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 9px;
            height: 9px;
            background: $white;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -3px;
          }
          &::-moz-range-thumb {
            width: 9px;
            height: 9px;
            background: $white;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -3px;
          }
          &::-ms-thumb {
            width: 9px;
            height: 9px;
            background: $white;
            border-radius: 50%;
            cursor: pointer;
            margin-top: -3px;
          }
          &::-webkit-slider-runnable-track {
            width: 50px;
            background: $white;
            height: 3px;
            cursor: pointer;
          }
          &::-moz-range-track {
            width: 50px;
            background: $white;
            height: 3px;
            cursor: pointer;
          }
          &::-ms-track {
            width: 50px;
            background: $white;
            height: 3px;
            cursor: pointer;
          }
          &:focus {
            outline: none;
          }
          &::-ms-track {
            cursor: pointer;
            background: transparent;
            border-color: transparent;
            color: transparent;
          }
          &::-moz-range-progress {
            background-color: $lightpurple
          }
          &::-moz-range-track {
            background-color: $lightpurple
          }
          &::-ms-fill-lower {
            background-color: $lightpurple
          }
          &::-ms-fill-upper {
            background-color: $lightpurple
          }
        }
        .live {
          border-radius: 9999px;
          color: $white;
          font-size: 12px;
          font-weight: 200;
          margin-left: -50px;
          transition-duration: 0.4s;
          font-family: 'Montserrat', sans-serif;
          @include animation(flicker 1s infinite);
          cursor: default;
          flex-grow: 2;
          &.active {
            margin-left: 20px
          }
          &:before {
            display: inline-block;
            content: '';
            background-color: $lightred;
            border-radius: 50%;
            height: 8px;
            width: 8px;
            margin-right: 0.6rem;
          }
        }
        #btnFullScreen {
          outline: none;
          position: relative;
          text-align: center;
          margin: 0;
          padding: 0;
          height: 100%;
          width: 40px;
          &:hover:before {
            text-shadow: 0em 0em 1em $white;
          }
          &:before {
            font-size: 1.4em;
            line-height: 1.67;
            content: "\F215";
          }
          }
        }
      }
    }
    .video-meta {
      .meta {
        @extend %flex-start;
        justify-content: space-between;
        padding-bottom: 16px;
        .title {
          font-size: 0.9rem;
          font-weight: bold;
          @extend %flex-start;
          span {
            margin:0 4px;
          }
        }
        .views {
          font-size: 0.8rem;
          @extend %flex-end;
          svg {
            margin-right: 4px;
          }
        }
      }
      .stats {
        @extend %flex-start;
        padding: 16px 0;
        border-top: 1px solid $faintgreytwo;
        border-bottom: 1px solid $faintgreytwo;
        font-size: 0.8rem;
        .item {
          margin: 0 16px;
          @extend %flex-start;
          position: relative;
          &.flag {
            margin: 0;
          }
          .value {
            color: $black;
          }
          img ~ span, span ~ span {
            margin-left: 8px;
          }
        }
        .likes.liked, .hidden-heart {
          color: $lightred;
        }
        .favourite.favourited, .hidden-favourite {
          color: $gold;
        }
        .flag.flagged, .hidden-flag {
          color: $lightred;
        }
        .hidden-icon {
          position: absolute;
          left: 0;
          margin: 0;
          opacity: 0;
          pointer-events: none;
        }
        .share {
          position: relative;
          .tip {
            margin: 16px 0;
            padding: 16px 0;
            border-top: 1px solid $faintgreytwo;
          }
          .share-grid {
            display: flex;
            margin: 0 -8px;
            .button {
              margin: 0 8px;
            }
          }
          .url {
            min-width: 280px;
            width: 100%;
            margin: 16px 0 0;
            position: relative;
            input {
              width: 100%;
              padding: 8px 16px 8px 32px;
              color: $lightgrey;
            }
            .url-icon {
              pointer-events: none;
              color: $lightgrey;
              position: absolute;
              left: 0;
              top: 0;
              @extend %flex-center;
              height: 100%;
              margin: 0 12px;
              z-index: 3;
            }
          }
        }
      }
      .viewer-list {
        padding: 0;
        max-height: 0;
        border: 0px;
        position: relative; 
        @include transition(all 0.2s ease);
        overflow: hidden;
        @extend %flex-start;
        &.active {
          padding: 8px 0;
          max-height: 60px;
        }
        .viewer {
          margin: 0 4px;
        }
        .gradient-block {
          pointer-events: none;
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          @extend %flex-center;
          padding: 8px 8px 8px 48px;
          font-size: 0.6rem;
          @include gradient(right, $white 0%, rgba(255,255,255, 0) 100%, to left);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
        }
      }
    }
    .comments {
      @include transition(all 0.2s ease);
      &.portrait {
        .tip {
          margin: 0;
          padding: 16px 0 32px;
        }
      }
      &.landscape {
        .tip {
          margin: 0;
          padding: 2px 0 32px;
        }
      }
      .comment-box {
        display: grid;
        grid-template-columns: 48px auto;
        grid-template-rows: auto auto;
        textarea {
          width: 100%;
        }
        .avatar {
          grid-row: 1 / span 2
        }
        .interact {
          grid-column: 2 / span 1;
          display: grid;
          grid-template-columns: auto 100px;
          .warning {
            font-size: 0.7rem;
            color: $lightgrey;
            a {
              color: $lightpurple;
              text-decoration: underline;
            }
          }
        }
      }
      .comments-collection {
        padding: 8px 0;
        .no-comments {
          border: 1px dashed $lightgrey;
          background: $offwhite;
          border-radius: 5px;
          padding: 8px;
          font-size: 0.8rem;
          color: $lightgrey;
        }
        .comment-item {
          display: grid;
          grid-template-columns: 48px auto 32px;
          padding: 8px 0;
          .comment-meta {
            font-size: 0.7rem;
            .user {
              @extend %flex-start;
              color: $lightgrey;
              margin-bottom: 4px;
              .live-comment {
                color: $lightred;
                margin-left: 8px;
              }
            }
            .comment {
              a {
                color: $lightpurple;
                text-decoration: underline;
              }
            }
          }
          .comment-more {
            place-self: center;
            color: $lightgrey;
            position: relative;
            a {
              display: grid;
              grid-template-columns: 24px auto;
              justify-content: flex-start;
              font-size: 0.8rem;
              padding: 8px 0;
              svg {
                place-self: center;
              }
              span {
                margin-left: 8px;
              }
            }
          }
        }
      }
    }
  }
}

.collection {
  border-radius: 5px;
  background: $white;
  background: $white;
  @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.45));
  padding: 24px;
  margin-bottom: 24px;
  .collection-header {
    display: grid;
    align-items: center;
    grid-template-columns: auto 100px;
    margin: 8px 0 24px;
    .collection-title {
      @extend %flex-start;
      font-size: 0.85rem;
      .icon {
        width: 24px;
        margin-right: 8px;
      }
    }
    .view-all {
      font-size: 0.8rem;
      font-weight: bold;
      text-align: right;
      @extend %flex-end;
      span {
        margin-right: 8px;
      }
    }
  }
  .deck {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

.side-list {
  color: $black;
  h4 {
    text-transform: uppercase;
    margin-bottom: 16px;
    &.gold {
      color: $gold;
    }
    &.purple {
      color: $lightpurple;
    }
    span {
      color: $black;
    }
  }
  .side {
    display: grid;
    grid-template-columns: 36px auto;
    align-items: center;
    margin-bottom: 16px;
    .user {
      position: relative;
    }
    .description {
      margin-left: 8px;
      p {
        margin-top: 6px;
      }
      .ago {
        font-size: 0.7rem;
        font-weight: 400;
        text-align: left;
        color: $lightgrey;
        margin-left: 8px;
      }
  
    }
  }
}

.subscribe {
  height: 100%;
  a {
    @extend %flex-center;
    .circle {
      @extend %flex-center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid $lightgreen;
      background: $white;
      color: $lightgreen;
      margin-right: 8px;
      &.green {
        background: $lightgreen;
        color: $white;
      }
    }
  }
}

.block {
  position: relative;
  height: 100%;
  .bubble {
    width: 300px;
  }
  a {
    @extend %flex-center;
    .circle {
      @extend %flex-center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid $lightred;
      background: $white;
      color: $lightred;
      margin-right: 8px;
      &.red {
        background: $lightred;
        color: $white;
      }
    }
  }
}

.mute {
  position: relative;
  height: 100%;
  .bubble {
    width: 300px;
  }
  a {
    @extend %flex-center;
    .circle {
      @extend %flex-center;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid $lightgrey;
      background: $white;
      color: $lightgrey;
      margin-right: 8px;
      &.red {
        background: $lightgrey;
        color: $white;
      }
    }
  }
}

#app-download {
  .hero {
    text-align: center;
    margin-bottom: 32px;
    .logo {
      width: 160px;
      margin: 0 auto 8px;
    }
    h1 {
      color: $lightpurple;
    }
    h3 {
      color: $lightgrey;
    }
  }
  .tip {
    text-align: center;
    margin: 16px 0;
  }
}
#signin-form {
  .hero {
    text-align: center;
  }
}

#recaptcha {
  div {
    margin: 32px auto 16px;
    max-width: 100%;
  }
}

.carousel-wrapper {
  width: 100%;
  background: $lightpurple;  
  position: relative;
  .navigate {
    position: absolute;
    top: 0;
    z-index: 1;
    background: $white;
    color: $lightpurple;
    @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.75));
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @extend %flex-center;
    top: 50%;
    cursor: pointer;
    @include transition(all 0.3s ease);
    &:hover {
      opacity: 0.7;
    }
    &.prev {
      left: 0;
      @include transform(translateX(50%) translateY(-50%) scale(1));
      &:hover {
        @include transform(translateX(50%) translateY(-50%) scale(1.2));        
      }
    }
    &.next {
      right: 0;
      @include transform(translateX(-50%) translateY(-50%) scale(1));
      &:hover {
        @include transform(translateX(-50%) translateY(-50%) scale(1.2));        
      }
    }
  }
  .carousel {
    display: flex;
    width: 100%;
    a {
      display: block;
      &:hover img{
        @include transform(scale(1))
      }
    }
    .slot {
      flex: 1 0 100%;
      align-self: center;
      width: 100%;
      text-align: center;
      img {
        pointer-events: none;
      }
    }
  }
  .bullets {
    margin: 32px auto 16px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    .pip {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: block;
      cursor: pointer;
      margin: 0 8px;
      background: $lightgrey;
      @include transition(all 0.2s ease);
      &.current {
        background: $lightpurple;
      }
    }
  }
}

.sliding-boxes-wrapper {
  width: 100%;
  position: relative;
  padding: 5px 0;
  @include gradient(top, $white 0%, $faintgrey 100%, to bottom);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$white, endColorstr=$faintgrey,GradientType=0 );
  .navigate {
    position: absolute;
    top: 0;
    z-index: 1;
    background: $white;
    color: $lightpurple;
    @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.75));
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    cursor: pointer;
    @include transition(all 0.3s ease);
    &:hover {
      opacity: 0.7;
    }
    &.prev {
      left: 0;
      @include transform(translateX(50%) translateY(-50%) scale(1));
      &:hover {
        @include transform(translateX(50%) translateY(-50%) scale(1.2));        
      }
    }
    &.next {
      right: 0;
      @include transform(translateX(-50%) translateY(-50%) scale(1));
      &:hover {
        @include transform(translateX(-50%) translateY(-50%) scale(1.2));        
      }
    }
  }
  .sliding-boxes {
    display: flex;
    .sliding-box {
      flex: 1 0 250px;
      text-align: center;
      width: 250px;
      height: 300px;
      margin: 0 -5px 0 10px;
      border-radius: 5px;
      overflow: hidden;
      background: $white;
      @include box-shadow(0px 0px 5px 0px rgba(0,0,0,0.45));
    }
  }
  .bullets {
    margin: 32px auto 16px;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    .pip {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      display: block;
      cursor: pointer;
      margin: 0 8px;
      background: $lightgrey;
      @include transition(all 0.2s ease);
      &.current {
        background: $lightpurple;
      }
    }
  }
}

.hero-wrapper {
  margin-bottom: 32px;
  .hero {
    padding: 16px 24px;
    background: $white;
    border-radius: 5px;
    overflow: hidden;
    .hero-grid {
      display: grid;
      margin: 0 -8px;
      grid-template-columns: 120px auto;
      .image {
        overflow: hidden;
        img {
          object-fit: cover;
          pointer-events: none;
          width: 120px;
          height: 120px;
        }
      }
      .meta-grid {
        display: grid;
        grid-template-columns: auto;
        margin-left: 16px;
        .meta{
          .tip {
            margin-bottom: 8px;
          }
          h1 {
            color: $darkgrey;
          }
          .description {
            margin: 8px 0;
            color: $darkgrey;
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

.profile {
  .profile-area {
    text-align: center;
    .cover-photo {
      height: 240px;
      width: 100%;
      overflow: hidden;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      @extend %flex-center;
      img {
        width: 100%;
        object-fit: cover;
      }
    }
    .profile-avatar {
      margin-top: -48px;
      display: inline-block;
      position: relative;
      .avatar.error {
        margin: 0;
      }
      img {
        border: 3px solid $offwhite;
      }
    }
    .profile-name {
      padding: 32px;
      text-align: left;
    }
    .profile-actions {
      padding: 16px;
      border-top: 1px solid $faintgreytwo;
      font-size: 0.8rem;
      @extend %flex-start;
      .item {
        margin: 0 12px;
      }
      .share {
        margin-left: auto;
        a {
          padding: 8px;
          background: $lightpurple;
          border-radius: 5px;
          color: $white;
        }
      }
    }
    .profile-stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-row-gap: 16px;
      border-top: 1px solid $faintgreytwo;
      border-bottom: 1px solid $faintgreytwo;
      padding: 16px;
      &.self {
        grid-template-columns: repeat(3, 1fr);
      }
      * {
        text-align: center;
      }
      .profile-icon {
        width: 32px;
        margin: 0 auto;
      }
      .counter {
        margin: 8px auto;
      }
      .tip {
        margin: 0;
      }
    }
  }
  .user-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

#notifications {
  position: relative;
  .notification {
    color: $black;
    text-align: left;
    text-transform: none;
    padding: 16px 0;
    border-top: 1px solid $faintgrey;
    &:first-child {
      border-top: none;
    }
    &.none {
      margin: 0 auto;
      text-align: center;
      .pchan {
        margin-bottom: 16px;
      }
    }
    a {
      white-space: normal;
      &:hover .details{
        opacity: 0.7;
      }
      .details {
        @extend %flex-start;
        align-items: flex-start;
        @include transition(all 0.2s ease);
        div ~ div {
          margin-left: 8px;
        }
        .ago {
          font-size: 0.6rem;
          margin-top: 8px;
        }
        .highlight {
          color: $lightpurple;
        }
      }
    }
  }
  .centered{
    margin: 0 auto;
    text-align: center;
  }
}

.image-edit {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid $white;
  position: absolute;
  background: $lightpurple;
  overflow: hidden;
  @extend %flex-center;
  &.type-avatar {
    top: 0px;
    right: 0px;
  }
  &.type-cover {
    top: 16px;
    right: 16px;
  }
  a {
    font-size: 0.7rem;
    color: $white;
  }
}

.share {
  position: relative;
  .tip {
    margin-bottom: 16px;
  }
  .share-grid {
    display: flex;
    margin: 0 -8px;
    .button {
      margin: 0 8px;
    }
  }
  .url {
    min-width: 280px;
    width: 100%;
    margin: 16px 0 0;
    position: relative;
    input {
      width: 100%;
      padding: 8px 16px 8px 32px;
      color: $lightgrey;
    }
    .url-icon {
      pointer-events: none;
      color: $lightgrey;
      position: absolute;
      left: 0;
      top: 0;
      @extend %flex-center;
      height: 100%;
      margin: 0 12px;
      z-index: 3;
    }
  }
}

@media (max-width: 1200px ) {
  .services-wrapper {
    .services-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
@media (max-width: 991px ) {
  header {
    .header-grid {
      .main {
        ul {
          li {
            margin: 0 8px;
          }
        }
      }
      .user {
        > div {
          margin-right: 16px;
        }
      }  
    }
  }
  .services-wrapper {
    .services-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
@media (max-width: 767px ) {
  header {
    .header-grid {
      grid-template-columns: 160px auto;
      .menu-initiate {
        place-self: center
      }
      .user {
        margin: 0;
        > div {
          margin: 0 12px;
          .user-details {
            margin: 0;
          }
        }
      }
    }
  }
  #search-bar {
    .search-grid{
      &.sort {
        grid-template-columns: auto 400px;
      }
      .sort-dropdown {
        grid-column: 2;
        select {
          padding: 16px 32px 8px 16px;
        }
      }
    }
  }
  .services-wrapper {
    .services-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  .carousel-wrapper, .sliding-boxes-wrapper {
    .navigate {
      display: none;
    }
  }
}
@media (max-width: 600px ) {
  .carousel-wrapper, .sliding-boxes-wrapper {
    .bullets {
      margin: -32px auto 16px;
    }
  }
}
@media (max-width: 480px) {
  .services-wrapper {
    .services-grid {
      grid-template-columns: 100%;
    }
  }
  #search-bar {
    .search-grid, .search-grid.sort {
      grid-template-columns: auto 160px;
    }
  }
  .hero-wrapper {
    .hero {
      .hero-grid {
        display: block;
        .image {
          float: right;
          img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
          }
        }
        .meta-grid {
          margin-left: 0;
        }
      }
    }
  }
  .share {
    .url {
      min-width: auto;
    }
  }
  #recaptcha {
    iframe {
      @include transform(scale(0.78) !important);
      @include transform-origin(0 0 !important);
    }
    .gc-reset{
      @include transform(scale(0.78) !important);
      @include transform-origin(0 0 !important);
    }
  }
}
@media (max-width: 320px ) {
  #mobileinput-form input[type=tel] {
    font-size: 2rem;
  }
}