@import 'colors';

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}
@mixin animation($property) {
  -webkit-animation: $property;
      -ms-animation: $property;
          animation: $property;
}
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

#nprogress {
  /* Make clicks pass-through */
  pointer-events: none;
  .bar {
    background: repeating-linear-gradient(
      45deg,
      $lightpurple,
      $lightpurple 4px,
      $white 4px,
      $white 8px
    );
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }
  /* Fancy blur effect */
  .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px $lightpurple, 0 0 5px $lightpurple;
    opacity: 1.0;
    @include transform(rotate(3deg) translate(0px, -4px));
  }
  /* Remove these to get rid of the spinner */
  .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
  }
  .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: $lightpurple;
    border-left-color: $lightpurple;
    border-radius: 50%;
    @include animation(nprogress-spinner 400ms linear infinite);
  }
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
  #nprogress .spinner, #nprogress .bar {
    position: absolute;
  }
}

@include keyframes(nprogress-spinner) {
  0%   { @include transform(rotate(0deg)); }
  100% { @include transform(rotate(360deg)); }
}

